{% extends 'base.html' %}

{% block content %}
    {# length過濾器#}
    <p>{{ movies|length }} Titles</p>
    {% if current_user.is_authenticated %}
    <form method="post">
            Name <input type="text" name="title" autocomplete="False" required>
            Year <input type="text" name="year" autocomplete="False" required>
            <input type="submit" name="submit" class="btn" value="Add">
    </form>
    {% endif %}
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}

            <span class="float-right">
                {% if current_user.is_authenticated %}
                <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
                <form action="{{ url_for('delete',movie_id=movie.id) }}" method="post" class="inline-form">
                    <input type="submit" name="submit" class="btn" value="Delete" onclick="return 'Are you confirm?'">
                </form>
                {% endif %}

                <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
            </span>
        </li>

        {% endfor %}
    </ul>
    <img class='totoro' src="{{ url_for('static',filename='images/totoro.gif') }}" alt="Walking Totoro">
{% endblock %}