[Unit]
Description=watchlist gunicorn daemon
After=network.target


[Service]
WorkingDirectory=/home/xxx/watchlist/
EnvironmentFile=/home/xxx/watchlist/.env
ExecStart=/home/xxx/watchlist/env/bin/python3 /home/xxx/watchlist/env/bin/gunicorn -c gunicorn.py wsgi:app

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always


[Install]
WantedBy=multi-user.target

